mat-grid-tile {
  //   background: lightblue;
  //   overflow-y: auto;
}

.scrolable {
  // overflow-y: auto;
  height: 100vr;
}

.inputDiv {
  margin: auto;
  width: 60%;
  margin-bottom: 10px;
  text-align: center;
}

.helper-class {
  margin-left: 5%;
}
