<h1>Orders history</h1>

<table class="table table-striped center1" [ngStyle]="{ width: '55%' }">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Address</th>
      <th scope="col">Price</th>
      <th scope="col">Comment</th>
      <th scope="col">Status</th>
      <th scope="col">Time</th>
      <th scope="col">Deliverer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of listOfOrders; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{ order.address }}
      </td>
      <td>{{ order.price | number }}</td>
      <td>
        {{
          order.comment == "" || order.comment == null
            ? "No comment"
            : order.comment
        }}
      </td>
      <td>{{ order.status }}</td>
      <td>
        {{ order.time == null ? "not yet picked up" : order.time }}
      </td>
      <td>
        {{ order.delivererId == null ? "No deliverer" : order.delivererId }}
      </td>
    </tr>
  </tbody>
</table>
